<h2>Login<span>HERE</span></h2>

<div class="auth-container">

<form id="auth" action="/login" method="post">

<div class="header">
    <h3><center>Login</center></h3>
    </div>

<div class="sep"></div>

 <div class="inputs">

<input type="username" placeholder="Username or Email" name="username" />

<input type="password" 
    placeholder="Password" name="password" />

<button id="save">Login</button>
</div>
</form>
</div>

{{!-- <h2>Login</h2>

<form action="/login" method="post">

<label for="username">Username/Email
    <input type="text" name="username">
</label>

<label for="password">Password
    <input type="text" name="password">
</label>

<button>Login</button>
</form> --}}