<h1>My Bar</h1>
<br>

{{!-- <h3>Username: {{theUser.username}}</h3> --}}

<br>
<h5>Liked Cocktails:</h5>
{{!-- 
{{#each theUser.likedMovies}} --}}

<div>

{{!-- <a href="/movies/{{this.id}}">{{this.title}}</a> --}}

</div>
<br>
<br>
<footer>
    <h6>Want to change your password? 
    <a href="/change-password">click here</a>
    </h6>
</footer>