<h1>My Bar</h1>
<br>
<h4>Welcome back {{theUser.username}}!!</h4>
<h5>Linked email: {{theUser.email}}</h5>

{{#if theUser.image}}
<img src="{{theUser.image}}" alt="" class="profileImgMedium">
{{/if}}
{{#unless theUser.image}}
<img src='/images/noProfileImage.png' alt="" class="profileImgMedium">
{{/unless}}

<form action="/update-profile-image" method="post" enctype="multipart/form-data">
<div>
    <input type="file" name="profileIMG" accept="image/png, image/gif, image/jpeg">
</div>
<button>Update Image</button>
</form>

<br>
<h4>Liked Cocktails:</h4>

<div>

</div>
<br>
<br>
<footer>
    <h4>Settings</h4>
    <select name="settingsList" id="settingsList" onchange="location = this.value;">
        <option value="" selected disabled hidden>Select an Option</option>
        <option value="/change-password">Change Password</option>
        <option value="/change-email">Change Email</option>
        <option value="/inactivateUser">Inactivate Account</option>
    </select>
</footer>