
<h2>Signup</h2>

<form action="/signup" method="post">

<div>
Username
    <input type="text" name="username">
</div>

<br>

<div>
    Email
    <input type="text" name="email">
</div>

<br>

<div>
Password
    <input type="text" name="password">
</div>

<button>Save</button>
</form>