<h2 class="topPage">Signup<span>HERE</span></h2>

<div class="auth-container">

<form id="auth" action="/signup" method="post">

<div class="header">
    <h3><center>Sign Up</center></h3>
    </div>

 <div class="sep"></div>

 <div class="inputs">


    <input type="username" placeholder="Username" name="username" />

    <input type="email"
    placeholder="Email" name="email" />

    <input type="password" 
    placeholder="Password" name="password" />

 <div class="checkboxy">
                <input name="cecky" id="checky" value="1" type="checkbox" /><label class="terms">I accept the terms of use and agree that I am of legal drinking age</label>
            </div>
            
            <button id="save">Save</button>
        
        </div>


</form>
</div>
