<h2 class="topPage">Liquor<span>List</span></h2>

<div class="tab">
  <center>
    {{#if theUser}}
    <button class="tablinks"><a href="/createliquor">Create Liquor</a></button>
    {{/if}} 
    <button class="tablinks" onclick="openDrink(event, 'Vodka')">Vodka</button>
    <button class="tablinks" onclick="openDrink(event, 'Tequila')">Tequila</button>
    <button class="tablinks" onclick="openDrink(event, 'Gin')">Gin</button>
    <button class="tablinks" onclick="openDrink(event, 'Rum')">Rum</button>
    <button class="tablinks" onclick="openDrink(event, 'Whiskey')">Whiskey</button>
    <button class="tablinks" onclick="openDrink(event, 'Brandy')">Brandy</button>
    <button class="tablinks" onclick="openDrink(event, 'Other')">Other</button>
  </center>
</div>

{{#each liquor}}
  <div>
    <p>Brand: {{this.brand}}</p>
    <p>Type: {{this.type}}</p>
    <p><a href="/liquordetails/{{this.id}}">Click Here for Details</a></p>
 </div>
{{/each}}
