<h2>Create Drink</h2>

<form action="/createdrink" method="post" enctype="multipart/form-data">

<label for="name">Cocktail Name
    <input type="text" name="name">
</label>
<br>
<br>

<label>Tools Needed</label> <select name="tools" id="tools">
        <option value="" selected disabled hidden>Select an Option</option>
        <option value="Shaker Tin">Shaker Tin</option>
        <option value="Muddler">Muddler</option>
        <option value="Bar Spoon">Bar Spoon</option>
        <option value="Jigger">Jigger</option>
        <option value="Strainer">Strainer</option>
        <option value="Mesh Strainer">Mesh Strainer</option>
        <option value="Other">Other</option>
    </select>
    <br>
<br>

<label>Ingredients</label> <select name="ingObj" id="ingObj" multiple>
    <option value=""></option>
    {{#each ing}}
        <option value ="{{this._id}}">{{this.name}}</option>
    {{/each}}
    </select>
    <br>
<br>

<label>Liquors</label> <select name="liqObj" id="liqObj" multiple>
    <option value=""></option>
    {{#each liquor}}
        <option value ="{{this._id}}">{{this.name}}</option>
    {{/each}}
    </select>
    <br>
<br>

<label>Glasswear</label> <select name="glasswear" id="glasswear">
        <option value=""></option>
        <option value="Highball">Highball</option>
        <option value="Mug">Mug</option>
        <option value="Rocks Glass">Rocks Glass</option>
        <option value="Tumbler">Tumbler</option>
        <option value="Martini Glass">Martini Glass</option>
        <option value="Margarita Glass">Margarita Glass</option>
        <option value="Hurricane Glass">Hurricane Glass</option>
        <option value="Shooter">Shooter</option>
        <option value="Snifter">Snifter</option>
        <option value="Collins">Collins</option>
        <option value="Pint">Pint</option>
        <option value="Flute">Flute</option>
        <option value="Nick and Nora Glass">Nick and Nora Glass</option>
        <option value="Wine Glass">Wine Glass</option>
        <option value="Other">Other</option>
    </select>
    <br>
<br>

<div>
Instructions
    <input type="text" name="instructions">
</div>

<br><br>

<div>
 Description
    <input type="text" name="description">
</label>
</div>

<br><br>

<div>
 Original Website (optional)
    <input type="text" name="url">
</label>
</div>

<br><br>

<div>
Picture
   <input type="file" name="drinkIMG" accept="image/png, image/gif, image/jpeg">
</label>
</div>

<br><br>

<div>
    Tags
    <input type="text" name="tags">
</div>

<br><br>

<button>Create</button>
</form>