<h2>Create Drink</h2>

<form action="/createdrink" method="post" enctype="multipart/form-data">
<label for="name">Name
    <input type="text" name="name">
</label>
<br>
<br>


<label>Base Spirit</label> <select name="type" id="type">
        <option value="Vodka">Vodka</option>
        <option value="Tequila">Tequila</option>
        <option value="Gin">Gin</option>
        <option value="Rum">Rum</option>
        <option value="Whiskey">Whiskey</option>
        <option value="Brandy">Brandy</option>
        <option value="Other">Other</option>
    </select>
    <br>
<br>

<label>Vodka</label> <select name="type" id="type">
        <option value="Plain Vodka">Plain Vodka</option>
        <option value="Flavored Vodka">Flavored Vodka</option>
        <option value="Infused Vodka">Infused Vodka</option>
    </select>
    <br>
<br>

<label>Tequila</label> <select name="type" id="type">
        <option value="Anejo">Anejo</option>
        <option value="Mezcal">Mezcal</option>
        <option value="Blanco">Blanco</option>
        <option value="Reposado">Reposado</option>
        <option value="Infused Tequila">Infused Tequila</option>
    </select>
    <br>
<br>

<label>Whiskey</label> <select name="type" id="type">
        <option value="Bourbon">Bourbon</option>
        <option value="Single Malt Scotch">Single Malt Scotch</option>
        <option value="Blended Malt Scotch">Blended Malt Scotch</option>
        <option value="Single Grain Scotch">Single Grain Scotch</option>
        <option value="Blended Grain Scotch">Blended Grain Scotch</option>
        <option value="Rye">Rye</option>
        <option value="Japanese Whiskey">Japanese Whiskey</option>
        <option value="Irish Whiskey">Irish Whiskey</option>
        <option value="Canadian Whiskey">Canadian Whiskey</option>
        <option value="Tennessee Whiskey">Tennessee Whiskey</option>
    </select>
    <br>
<br>

<label>Rum</label> <select name="type" id="type">
        <option value="Spiced Rum">Spiced Rum</option>
        <option value="Aged Rum">Aged Rum</option>
        <option value="White Rum">White Rum</option>
    </select>
    <br>
<br>


<label>Gin</label> <select name="type" id="type">
        <option value="London Dry Gin">London Dry Gin</option>
        <option value="Plymouth Gin">Plymouth Gin</option>
        <option value="Old Tom Gin">Old Tom Gin</option>
        <option value="Genever">Genever</option>
        <option value="Infused Gin">Infused Gin</option>
    </select>
    <br>
<br>

<label>Brandy</label> <select name="type" id="type">
        <option value="Spiced Rum">Cognac</option>
        <option value="Aged Rum">Armagnac</option>
        <option value="White Rum">Calvados</option>
        <option value="Brandy de Jerez">Brandy de Jerez</option>
        <option value="Obstler">Obstler</option>
        <option value="Pisco">Pisco</option>
        <option value="Armenian">Armenian</option>
        <option value="South African">South African</option>
        <option value="Cypriot">Cypriot</option>
        <option value="Pomace">Pomace</option>
    </select>
    <br>
<br>



<label for="picture">Picture
   <input type="file" name="drinkIMG" accept="image/png, image/gif, image/jpeg">
</label>
<br>
<br>

<label for="URL">Website to Purchase
    <input type="text" name="URL">
</label>
<br>
<br>

<label for="price">Price
    <input type="text" name="price">
</label>


<br>
<br>

<button>Create</button>
</form>