<h2>Create Drink</h2>

<form action="/createdrink" method="post" enctype="multipart/form-data">
<label for="name">Name
    <input type="text" name="name">
</label>
<br>
<br>


<label>Base Spirit</label> <select name="type" id="type">
        <option value="Vodka">Vodka</option>
        <option value="Tequila">Tequila</option>
        <option value="Gin">Gin</option>
        <option value="Rum">Rum</option>
        <option value="Whiskey">Whiskey</option>
        <option value="Brandy">Brandy</option>
    </select>
    <br>
<br>

<label>Vodka</label> <select name="type" id="type">
        <option value="Plain Vodka">Plain Vodka</option>
        <option value="Flavored Vodka">Flavored Vodka</option>
        <option value="Infused Vodka">Infused Vodka</option>
    </select>
    <br>
<br>

<label>Tequila</label> <select name="type" id="type">
        <option value="Anejo">Anejo</option>
        <option value="Mezcal">Mezcal</option>
        <option value="Blanco">Blanco</option>
        <option value="Reposado">Reposado</option>
    </select>
    <br>
<br>

<label>Rum</label> <select name="type" id="type">
        <option value="Spiced Rum">Spiced Rum</option>
        <option value="Aged Rum">Aged Rum</option>
        <option value="White Rum">White Rum</option>
    </select>
    <br>
<br>


<label for="picture">Picture
   <input type="file" name="drinkIMG" accept="image/png, image/gif, image/jpeg">
</label>
<br>
<br>

<label for="URL">Website to Purchase
    <input type="text" name="URL">
</label>
<br>
<br>

<label for="price">Price
    <input type="text" name="price">
</label>


<br>
<br>

<button>Create</button>
</form>