<h2 class="topPage">Create<span>Drink</span></h2>

<form action="/createdrink" method="post" enctype="multipart/form-data">
<div class = "create">
<label for="name">Cocktail Name
    <input type="text" name="name">
</label>
<br><br>

<label>Liquors</label>
<table>
    <thead>
        <tr>
            <th>Type</th>
            <th>Name</th>
            <th>Quantity</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
<tbody id="liquorTable">
    <tr>
        <td>
            <select name="liqType" id="liqTypesSelect">
                <option value="" selected disabled hidden></option>
                <option value="Vodka">Vodka</option>
                <option value="Tequila">Tequila</option>
                <option value="Gin">Gin</option>
                <option value="Rum">Rum</option>
                <option value="Whiskey">Whiskey</option>
                <option value="Brandy">Brandy</option>
                <option value="Other">Other</option>
            </select>
        </td>
        <td>
            <select name="liqSelect" id="liqSelect">
                <option value="" selected disabled hidden></option>
    {{#each liquor}}
        <option value ="{{this._id}}">{{this.name}}</option>
    {{/each}}
            </select>
        </td>
        <td>
            <input type="text" name="quantity" id="liqQuantity">
        </td>
        <td>
            <a href="#" onclick="addLiqLine('liquorTable')">Add Liquor</a>
        </td>
        <td class="htmlIDColumn">
            <input type="text" name="" value="" style="display: none;">
        </td>
    </tr>
</tbody>
</table>
<br><br>

<label>Ingredients</label>
<table>
    <thead>
        <tr>
            <th>Type</th>
            <th>Name</th>
            <th>Quantity</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
<tbody id="ingredientTable">
    <tr>
        <td>
            <select name="ingType" id="ingTypesSelect">
                <option value="" selected disabled hidden></option>
                <option value="Syrup">Syrup</option>
                <option value="Fruit">Fruit</option>
                <option value="Carbonated mixers">Carbonated mixers</option>
                <option value="Juice">Juice</option>
                <option value="Bitter">Bitter</option>
                <option value="Garnish">Garnish</option>
                <option value="Dairy">Dairy</option>
                <option value="Caffeinated beverage">Caffeinated beverage</option>
                <option value="Sauce">Sauces</option>
                <option value="Prepared mix">Prepared mix</option>
            </select>
        </td>
        <td>
            <select name="ingSelect" id="ingSelect">
                <option value="" selected disabled hidden></option>
                {{#each ing}}
                    <option value ='{{this._id}}'>{{this.name}}</option>
                {{/each}}
            </select>
        </td>
        <td>
            <input type="text" name="quantity" id="ingQuantity">
        </td>
        <td>
            <a href="#" onclick="addIngLine('ingredientTable')">Add Ingredient</a>
        </td>
        <td class="htmlIDColumn">
            <input type="text" name="" value="" style="display: none;">
        </td>
    </tr>
</tbody>
</table>
<br><br>

<label>Tools Needed</label> 
<table>
    <thead>
        <th></th>
        <th></th>
        <th></th>
    </thead>
    <tbody id="toolTable">
        <tr>
            <td>
                <select name="tools" id="tools">
                <option value="" selected disabled hidden>Select an Option</option>
                <option value="Shaker Tin">Shaker Tin</option>
                <option value="Muddler">Muddler</option>
                <option value="Bar Spoon">Bar Spoon</option>
                <option value="Jigger">Jigger</option>
                <option value="Strainer">Strainer</option>
                <option value="Mesh Strainer">Mesh Strainer</option>
                <option value="Other">Other</option>
                </select>
            </td>
            <td>
               <a href="#" onclick="addToolLine('toolTable')">Add Tool</a> 
            </td>
            <td class="htmlIDColumn">
                <input type="text" name="" value="" style="display: none;">
            </td>
        </tr>
    </tbody>
</table>
 <br> <br>

<label>Glasswear</label> 
<table>
    <thead>
        <th></th>
        <th></th>
        <th></th>
    </thead>
    <tbody id="glassTable">
        <tr>
            <td>
                <select name="glasswear" id="glasswear">
                        <option value="" selected disabled hidden>Select an Option</option>
                        <option value="Highball">Highball</option>
                        <option value="Mug">Mug</option>
                        <option value="Rocks Glass">Rocks Glass</option>
                        <option value="Tumbler">Tumbler</option>
                        <option value="Martini Glass">Martini Glass</option>
                        <option value="Margarita Glass">Margarita Glass</option>
                        <option value="Hurricane Glass">Hurricane Glass</option>
                        <option value="Shooter">Shooter</option>
                        <option value="Snifter">Snifter</option>
                        <option value="Collins">Collins</option>
                        <option value="Pint">Pint</option>
                        <option value="Flute">Flute</option>
                        <option value="Nick and Nora Glass">Nick and Nora Glass</option>
                        <option value="Wine Glass">Wine Glass</option>
                        <option value="Other">Other</option>
                </select>
            </td>
            <td>
               <a href="#" onclick="addGlassLine('glassTable')">Add Glasswear</a> 
            </td>
            <td class="htmlIDColumn">
                <input type="text" name="" value="" style="display: none;">
            </td>
        </tr>
    </tbody>
</table>
 <br> <br>

<div>
Instructions
    <input type="text" name="instructions">
</div>

<br><br>

<div>
 Description
    <input type="text" name="description">
</label>
</div>

<br><br>

<div>
 Original Website (optional)
    <input type="text" name="url">
</label>
</div>

<br><br>

<div>
Picture
   <input type="file" name="drinkIMG" accept="image/png, image/gif, image/jpeg">
</label>
</div>

<br><br>

<div>
    Tags
    <input type="text" name="tags">
</div>

<br><br>


<input type="number" id="ingN" name="ingN" style="display: none;"></input>
<input type="number" id="liqN" name="liqN" style="display: none;"></input>
<input type="number" id="toolN" name="toolN" style="display: none;"></input>
<input type="number" id="glassN" name="glassN" style="display: none;"></input>

<button>Create</button>
</form>
</div>

<script src="/scripts/drinkDOM.js"></script>