<h2>Cocktail<span>LIST</span></h2>

<div class="tab">
  <center>
    <button class="tablinks" onclick="openDrink(event, 'Vodka')">Vodka</button>
    <button class="tablinks" onclick="openDrink(event, 'Tequila')">Tequila</button>
    <button class="tablinks" onclick="openDrink(event, 'Gin')">Gin</button>
    <button class="tablinks" onclick="openDrink(event, 'Rum')">Rum</button>
    <button class="tablinks" onclick="openDrink(event, 'Whiskey')">Whiskey</button>
    <button class="tablinks" onclick="openDrink(event, 'Brandy')">Brandy</button>
    <button class="tablinks" onclick="openDrink(event, 'Other')">Other</button>
    <button class="tablinks" onclick="openDrink(event, 'Shots')">Shots</button>
    <button class="tablinks" onclick="openDrink(event, 'Mocktails')">Mocktails</button>
    {{#if theUser}}
    <button class="tablinks" ><a href="/createdrink">Create Drink</a></button>
    {{/if}} 
    </center>
</div>

{{#each drink}}
  <div>
    <p>Name: {{this.name}}</p>
    <p><a href="/drinkdetails/{{this.id}}">Click Here for Details</a></p>
  </div>
{{/each}}