<h2 class="topPage">Cocktail<span>List</span></h2>

<div class="tab">
  <center>
    {{#if theUser}}
    <button class="tablinks" ><a href="/createdrink">Create Drink</a></button>
    {{/if}} 
    <button class="tablinks" onclick="openDrink(event, 'Vodka')">Vodka</button>
    <button class="tablinks" onclick="openDrink(event, 'Tequila')">Tequila</button>
    <button class="tablinks" onclick="openDrink(event, 'Gin')">Gin</button>
    <button class="tablinks" onclick="openDrink(event, 'Rum')">Rum</button>
    <button class="tablinks" onclick="openDrink(event, 'Whiskey')">Whiskey</button>
    <button class="tablinks" onclick="openDrink(event, 'Brandy')">Brandy</button>
    <button class="tablinks" onclick="openDrink(event, 'Other')">Other</button>
    <button class="tablinks" onclick="openDrink(event, 'Shots')">Shots</button>
    <button class="tablinks" onclick="openDrink(event, 'Mocktails')">Mocktails</button>
    </center>
</div>

<div class="listOver">
{{#each drink}}
<a href="/drinkdetails/{{this.id}}">
  <div class="itemBox">
    <div class="listName">
    <h1>{{this.name}}</h1>
    </div>
    <div class="listImage">
    <img src="{{this.image}}" alt="" class="imageList">
    </div>
  </div>
</a>
{{/each}}
</div>