<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
<h1>THE MIXOLIGIST TEAM SITE</h1>
{{!-- <img src="/images/lose.webp" alt=""> --}}
<br>
<br>
<hr>
<br>
<br>
<img src="/images/underConstruction.png" alt="">
<p>(still in development tho)</p>

    <script src="/scripts/script.js"></script>
    <script src="/scripts/drinkDOM.js"></script>
</body>
</html>