<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <nav>

    <ul>
        <div id="topNavBar">
        <li><a href="/">Home</a></li>
        <li><a href="/ingredientlist">Ingredients</a></li>
        <li><a href="/liquorlist">Liquors</a></li>
        <li><a href="/drinklist">Drinks</a></li>
        </div>

        <br>


        {{#unless theUser}}
        <div id="loggedOutBottomNavBar"></div>
        <li><a href="/signup">Sign Up</a></li>
        <li><a href="/login">Login</a></li>
        </div>
        {{/unless}}


        {{#if theUser}}
        <div id="loggedInBottomNavBar"></div>
        {{#if theUser.image}}
        <a href="/profile">Profile <img src={{theUser.image}} alt="FAIL" id="profileSmallImg"></a>
        {{/if}}
        {{#unless theUser.image}}
        <a href="/profile">Profile <img src='/images/noProfileImage.png' alt="FAIL" id="profileSmallImg"></a>
        {{/unless}}
        <form id="logout" action="/logout" method="post">
        <a href='#' onclick="logoutButton()">Logout</a>
        </form>
        </div>
        {{/if}}


    </ul>


    {{#if errorMessage}}
    <div class="error-div">
        {{errorMessage}}
    </div>
    {{/if}}
    
    {{#if successMessage}}
    <div class="success-div">
        {{successMessage}}
    </div>
    {{/if}}

    <div class="fullPage">
    {{{body}}}
    </div>
    

    <script src="/scripts/script.js"></script>
</body>
</html>