<h2 class="topPage">Create<span>Ingreident</span></h2>
<form action="/createIngredient" method="post" enctype="multipart/form-data">

<div class = "create">
<div>Name
    <input type="text" name="name">
</div>

<br><br>

<div>
Type
<select name="type" id="type">
        <option value="" selected disabled hidden>Select an Option</option>
        <option value="Syrup">Syrup</option>
        <option value="Fruit">Fruit</option>
        <option value="Carbonated mixer">Carbonated Mixer</option>
        <option value="Juice">Juice</option>
        <option value="Bitter">Bitter</option>
        <option value="Garnish">Garnish</option>
        <option value="Dairy">Dairy</option>
        <option value="Caffeinated mixer">Caffeinated Mixer</option>
        <option value="Sauce">Sauce</option>
        <option value="Prepared mix">Prepared Mix</option>
    </select>
</div>

<br><br>

<div> Description
    <input type="text" name="description">
</div>

<br><br>

<div> Website to Purchase
    <input type="text" name="url">
</div>

<br><br>

<div>
Price
    <input type="text" name="price">
</div>

<br><br>

<div>
Picture
   <input type="file" name="ingIMG" accept="image/png, image/gif, image/jpeg">
</div>

<br><br>

<button>Create</button>
</form>

</div>



