<h2>Create Ingredient</h2>

<form action="/createingredient" method="post" enctype="multipart/form-data">
<label for="name">Name
    <input type="text" name="name">
</label>
<br>
<br>

<label>Type</label> <select name="type" id="type">
        <option value="Syrup">Syrup</option>
        <option value="Fruit">Fruit</option>
        <option value="Carbonated mixers">Carbonated mixers</option>
        <option value="Juice">Juice</option>
        <option value="Bitters">Bitters</option>
        <option value="Garnish">Garnish</option>
        <option value="Dairy">Dairy</option>
        <option value="Caffeinated beverages">Caffeinated beverages</option>
        <option value="Sauces">Sauces</option>
        <option value="Prepared mixes">Prepared mixes</option>
    </select>
    <br>
<br>

<label for="Description">Description
    <input type="text" name="description">
</label>
<br>
<br>

<label for="picture">Picture
   <input type="file" name="drinkIMG" accept="image/png, image/gif, image/jpeg">
</label>
<br>
<br>

<label for="URL">Website to Purchase
    <input type="text" name="URL">
</label>
<br>
<br>

<label for="price">Price
    <input type="text" name="price">
</label>


<br>
<br>

<button>Create</button>
</form>