<h1>Ingredients</h1>
<br>

{{#if theUser}}
<a href="/createingredient">Create Ingredient</a>
{{/if}} 

<br>
<br>
<div class="tab">
  <button class="tablinks" onclick="openIngredient(event, 'Syrups')">Syrups</button>
  <button class="tablinks" onclick="openIngredient(event, 'Fruits')">Fruits</button>
  <button class="tablinks" onclick="openIngredient(event, 'Carbonated Mixers')">Carbonated Mixers</button>
  <button class="tablinks" onclick="openIngredient(event, 'Juices')">Juices</button>
 <button class="tablinks" onclick="openIngredient(event, 'Bitters')">Bitters</button>
 <button class="tablinks" onclick="openIngredient(event, 'Dairy Mixers')">Dairy Mixers</button>
 <button class="tablinks" onclick="openIngredient(event, 'Caffeinated Mixers')">Caffeinated Mixers</button>
 <button class="tablinks" onclick="openIngredient(event, 'Sauces')">Sauces</button>
 <button class="tablinks" onclick="openIngredient(event, 'Prepared Mixes')">Prepared Mixes</button>
</div>

{{#each ing}}
  <div>
    <p>Name: {{this.name}}</p>
    <p>Type: {{this.type}}</p>
    <p><a href="/ingredientdetails/{{this.id}}">Click Here for Details</a></p>
  </div>
{{/each}}
