<h1>Ingredients</h1>
<br>

<h2>Syrups</h2>
<p>Syrups go here</p>

<br>
<h2>Fruits</h2>
<p>Fruits go here</p>

<br>

<h2>Carbonated Mixers</h2>
<p>Carbonated Mixers go here</p>

<br>

<h2>Juices</h2>
<p>Juices go here</p>

<br>

<h2>Bitters</h2>
<p>Bitters go here</p>

<br>

<h2>Dairy Mixers</h2>
<p>Dairy Mixers go here</p>

<br>

<h2>Caffeinated Mixers</h2>
<p>Caffeinated Mixers go here</p>

<br>

<h2>Sauces</h2>
<p>Sauces go here</p>

<br>

<h2>Prepared Mixes</h2>
<p>Prepared Mixes go here</p>

<br>




{{#if theUser}}
<a href="/createingredient">Create Ingredient</a>
{{/if}} 
    <!--
      - list of ingredients (pull from api?)
  -->