 {{#if theUser}}
<a href="/createingredient">Create Ingredient</a>
{{/if}} 
    <!--
      - list of ingredients (pull from api?)
    - create button (shows up when logged in and doesn't show when not logged in)
  -->