<h1>Ingredients</h1>
<br>

<div class="tab">
  <button class="tablinks" onclick="openIngredient(event, 'Syrups')">Syrups</button>
  <button class="tablinks" onclick="openIngredient(event, 'Fruits')">Fruits</button>
  <button class="tablinks" onclick="openIngredient(event, 'Carbonated Mixers')">Carbonated Mixers</button>
  <button class="tablinks" onclick="openIngredient(event, 'Juices')">Juices</button>
 <button class="tablinks" onclick="openIngredient(event, 'Bitters')">Bitters</button>
 <button class="tablinks" onclick="openIngredient(event, 'Dairy Mixers')">Dairy Mixers</button>
 <button class="tablinks" onclick="openIngredient(event, 'Caffeinated Mixers')">Caffeinated Mixers</button>
 <button class="tablinks" onclick="openIngredient(event, 'Sauces')">Sauces</button>
 <button class="tablinks" onclick="openIngredient(event, 'Prepared Mixes')">Prepared Mixes</button>
</div>

{{!-- Tab Content --}}
{{!-- <div id="Syrups" class="tabcontent">
  <h3>Syrups</h3>

  <div id="Fruits" class="tabcontent">
  <h3>Fruits</h3>

  <div id="Carbonated Mixers" class="tabcontent">
  <h3>Carbonated Mixers</h3>

  <div id="Juices" class="tabcontent">
  <h3>Juices</h3>

  <div id="Bitters" class="tabcontent">
  <h3>Bitters</h3>

  <div id="Dairy Mixers" class="tabcontent">
  <h3>Dairy Mixers</h3>

  <div id="Caffeinated Mixers" class="tabcontent">
  <h3>Caffeinated Mixers</h3>

  <div id="Sauces" class="tabcontent">
  <h3>Sauces</h3>

  <div id="Prepared Mixes" class="tabcontent">
  <h3>Prepared Mixes</h3> --}}




{{#if theUser}}
<a href="/createingredient">Create Ingredient</a>
{{/if}} 
    <!--
      - list of ingredients (pull from api?)
  -->