<h2 class="topPage">Ingredient<span>LIST</span></h2>

<div class="tab">
  <center>
    {{#if theUser}}
    <button class="tablinks" ><a href="/createingredient">Create Ingredient</a></button>
    {{/if}}
    <button class="tablinks" onclick="filterList('ingredient', 'Syrup')">Syrups</button>
    <button class="tablinks" onclick="filterList('ingredient', 'Fruit')">Fruits</button>
    <button class="tablinks" onclick="filterList('ingredient', 'Carbonated Mixer')">Carbonated Mixers</button>
    <button class="tablinks" onclick="filterList('ingredient', 'Juice')">Juices</button>
    <button class="tablinks" onclick="filterList('ingredient', 'Bitter')">Bitters</button>
    <button class="tablinks" onclick="filterList('ingredient', 'Dairy Mixer')">Dairy Mixers</button>
    <button class="tablinks" onclick="filterList('ingredient', 'Caffeinated Mixer')">Caffeinated Mixers</button>
    <button class="tablinks" onclick="filterList('ingredient', 'Sauce')">Sauces</button>
    <button class="tablinks" onclick="filterList('ingredient', 'Prepared Mixe')">Prepared Mixes</button> 
</center>
</div>

<div id="tableInsert">

<div class="listOver">
{{#each ing}}
<a href="/ingredientdetails/{{this.id}}">
  <div class="itemBox">
    <div class="listName">
    <h1>{{this.name}}</h1>
    </div>
    <div class="listImage">
    <img src="{{this.image}}" alt="" class="imageList">
    </div>
  </div>
</a>
{{/each}}
</div>

</div>
